/* --------------------------------------------------------------------------
 * >>> Skeleton :
 * -------------------------------------------------------------------------- */
 
body {
  position: relative;
  font-family: $mainFont;
  box-sizing: border-box;
  background: $bgFirst;
}
