/* --------------------------------------------------------------------------
 * >>> Variables :
 * -------------------------------------------------------------------------- */
// Fonts
$mainFont: 'Rubik', sans-serif;
// $secondaryFont: 'font', sans-serif;

// Animations
$fastAnim: all 0.3s ease;
$slowAnim: all 1s ease;

// Colors
$white: #ffffff;
$black: #000000;
$bgFirst: #F6F8FB;